body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.5em;
}

.app-header {
    background-color: #333;
    height: 7.5em;
    padding: 2em;
    color: white;
}

.title {
    font-size: 3em;
}

.link {
    cursor: pointer;
}

.link:hover {
    background-color: #DDD;
}

.color-button {
    font-size: 0.5em;
    margin: 0.25em;
}

.selected-history {
    background-color: #EEE;
}

.board {
    width: 18em;
}

.glyphicon {
    font-size: 2.5em;
}

.small {
    font-size: 1em;
}

.new-game-btn {
    font-size: 1.5em;
}

.codepeg-red {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: red;
}

.codepeg-blue {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: blue;
}

.codepeg-green {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: green;
}

.codepeg-yellow {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: yellow;
}

.codepeg-orange {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: orange;
}

.codepeg-purple {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: purple;
}

.codepeg-grey {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: lightgray;
}