body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.5em;
}

.board {
    width: 15em;
}

.codepeg-red {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: red;
}

.codepeg-blue {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: blue;
}

.codepeg-green {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: green;
}

.codepeg-yellow {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: yellow;
}

.codepeg-orange {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: orange;
}

.codepeg-purple {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: purple;
}

.codepeg-grey {
    margin: 0.25em;
    width: 2.5em;
    height: 2.5em;
    background-color: lightgray;
}